#title {
    text-align: center;
}

.field{
    position: relative;
    height: 460px;
    width: 900px;
    background-color: #00cccc;
    border: 15px solid #00ffff;
    margin: auto;
    top: 100px;
}

.player{
    height: 30px;
    width: 78px;
    position: absolute;
}
.block{
    height: inherit;
    width: 64px;
    background-color: #20DDD7;
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center;
}

.line{
    height: 2px;
    width: 16px;
    background-color: #20DDD7;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.longer{
    width: 40px;
}
.num{
    color: white;
    font-family: Arial;
    font-size: 20px;
    text-align: center;
}
.riseTo8{
    height: 35px;
    width: 16px;
    position: absolute;
}
.riseTo4{
    height: 100px;
    width: 16px;
    position: absolute;
}
.riseTo2{
    height: 208px;
    width: 40px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}
.battle{
    height: inherit;
    width: 2px;
    background-color: #20DDD7;
    position: absolute;
}

.median{
    height: inherit;
    width: 8px;
    background-color: #00ffff;
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.pokeball{
    width: 120px;
    height: 120px;
    border-radius: 99em;
    border: 7px solid #00ffff;
    background-color: #00cccc;
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.inner{
    width: 25px;
    height: 25px;
    border-radius: 99em;
    border: 12px solid #00ffff;
    background-color: #00cccc;
    position: absolute;
    margin:auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.nameList{
    height: 308px;
    width: 280px;
    background-color: #00cccc;
    border: 5px solid #00ffff;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 410px;
}
table{
    width: inherit;
    height: inherit;
}
.name{
    width: 30%;
}
td{
    text-align: center;
    font-family: Arial;
    font-family: 黑体;
    color: white;
}


.locR{
    right: 0;
}
.locPlayerL{
    left: 78px;
}
.locPlayerR{
    right: 78px;
}
.loc8PlayerL{
    left: 172px;
}
.loc8PlayerR{
    right: 172px;
}
.loc4PlayerL{
    left: 266px;
}
.loc4PlayerR{
    right: 266px;
}
.locTo8L{
    left: 156px;
}
.locTo8R{
    right: 156px;
}
.locTo4L{
    left: 250px;
}
.locTo4R{
    right: 250px;
}
.locTo2L{
    left: 344px;
}
.locTo2R{
    right: 344px;
}
.loc16_1{
    top: 47px;
}
.loc16_2{
    top: 80px;
}
.loc16_3{
    top: 144px;
}
.loc16_4{
    top: 177px;
}
.loc16_5{
    bottom: 177px;
}
.loc16_6{
    bottom: 144px;
}
.loc16_7{
    bottom: 80px;
}
.loc16_8{
    bottom: 47px;
}
.locTo8_1{
    top: 61px;
}
.locTo8_2{
    top: 158px;
}
.locTo8_3{
    bottom: 158px;
}
.locTo8_4{
    bottom: 61px;
}
.loc8_1{
    top: 64px;
}
.loc8_2{
    top: 162px;
}
.loc8_3{
    bottom: 162px;
}
.loc8_4{
    bottom: 64px;
}
.locTo4_1{
    top: 79px;
}
.locTo4_2{
    bottom: 79px;
}
.loc4_1{
    top: 112px;
}
.loc4_2{
    bottom: 112px;
}


